<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style type="text/css">
    .myrow{
        margin-bottom:10px
    }
</style>
<body>
<form id="userFrom">
    <div class="row myrow">
        <div class="col-md-2">
            <label for="name">名称</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="col-md-2">
            <label for="price">价格</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="price" name="price">
        </div>
    </div>
    <div class="row myrow">
        <div class="col-md-2">
            <label for="count">数量</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="count" name="count">
        </div>
        <div class="col-md-2">
            <label for="producer">生产商</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="producer" name="producer">
        </div>
    </div>
</form>
</body>
</html>